
@import url(https://fonts.googleapis.com/css?family=Raleway);

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.slick-slider{
    margin-bottom: 0;
}

.slick-slide{
    width:100vh;
}

.banner{
    height: 455px;
    background: url(../images/UBI_Banner.png) no-repeat center center;
    background-size: cover;
}

#mainBanner{
    background-image: url(../images/UBI_Banner.png);
}

#banner2{
    background-image: url(../images/UnionBankSydney.jpg);    
}
#banner3{
    background-image: url(../images/Taxsaverdeposit.jpg);    
}#banner4{
    background-image: url(../images/personal_sal_banner.jpg);    
}#banner5{
    background-image: url(../images/banner_23.jpg);    
}#banner6{
    background-image: url(../images/UNIONBIOTECH_new_Hoarding1.jpg);    
}#banner7{
    background-image: url(../images/banner_new_24.jpg);    
}#banner8{
    background-image: url(../images/home-banner6.jpg);    
}#banner9{
    background-image: url(../images/home-banner3.jpg);    
}
#footer li:first-child{
  margin-bottom:0;
}

.card{
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #e7e7e7;
}

.text-navyblue {
    color: #0F4C9C;
}

.ui-widget-content li a{
    color: #333;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
        color: #212121!important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555!important;
}

#footer {
    min-height: 100px;
    padding-top: 30px;
    background: #707173;
    color: #E0E0E0;
}
#footer h1{
    margin-bottom: 0
}
#footer a{
    color: #E0E0E0!important;    
}

.height-100 {
    height: 100%;
}


/* Utility classes */
.action {
    cursor: pointer;
}

.hide{
    display: none;
}

#catL2, .ui-helper-reset{
    font-size: 28px;
}

.ui-tabs .ui-tabs-nav li{
    font-size: 36px
}

.back-btn{
    border-radius: 10px;
}

.rotated-icon{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;    
    transform: rotatex(90deg); 
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

table td{
    word-break: break-word;
}

.ui-widget-content .ui-state-default, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, 
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{    
    background-image: none;
}

.ui-widget-header {
    background: #ccc;
}

.ui-tabs .ui-tabs-panel{
    line-height: 1.4;
}

.ui-accordion .ui-accordion-content{
    min-height: 250px!important;
}

.ui-accordion .ui-accordion-content .text-black{
    color: #333!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border: none;
    outline-width: 0;
}

#contactTooltip{
    width: 91%;
    min-height: 500px;
    background: #3A3A3C;
    left: 0;
    border-bottom: 10px solid #A11D2A;
    top: 895px;     
    box-shadow: 0 -15px 10px rgba(0,0,0,0.2);   
    padding: 40px;
    z-index: 1000;      
}

#contactTooltip:before {
    border-left: solid transparent 60px;
    border-right: solid transparent 3px;
    border-bottom: solid #3A3A3C 50px;
    top: -50px;
    content: " ";
    height: 0;
    left: 60%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
#sidemenu{
    width:500px;
    height:100%;
    background: #3A3A3C;
    position: fixed;
    right: -1000px;
    top: 0;
    z-index: 1000;
    box-shadow:  -2px 0 5px 0 rgba(0,0,0,0.4),0 2px 10px 0 rgba(0,0,0,0.3);   
    font-size: 40px;
    letter-spacing: 2px;
    padding: 70px;
    /*padding-left: 10px;*/
}

#sidemenu #bottomLogo{
    bottom: 220px;
}

#sidemenu .underline{
    padding-bottom:1.5rem;
    border-bottom: 1px solid  #7C8081;
}

#sidemenu .expanded{
    margin-bottom:20px;    
}

#sidemenu .cat2{
    padding-top:1.5rem;    
    border-bottom: 1px solid  #7C8081;
    border-top: 1px solid  #7C8081;    
}

#sidemenu .text-white{
    color: #e1e1e1;
}

#sidemenu #holder{
    max-height: 1300px;
    overflow-y: auto;
    border-bottom: 1px solid  #c1c1c1;
}

#sidemenu li{
    margin-bottom: 40px;
}

#sidemenu ul.vlist-s li{
    margin-bottom: 20px;
}

.text-gray{
    color: #989898!important;
}

@media (min-width: 480px){
    h3 {
        font-size: 2.6rem;
    }
    
     .nav-icon-link img{
        height: 70px;
    }
    
    img.icon{
            height: 55px;
    }
    
     .six.columns.full {
        width: 50%;
    }
    .disclaimer{
        font-size: 0.4em;        
    }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {  
    .ui-accordion .ui-accordion-content{
        font-size: 20px;
    }
    .ui-accordion .ui-accordion-header{
        font-size: 1.2em!important;
    }
    .ui-tabs .ui-tabs-nav li{
        font-size: 1em!important;        
    }

    .content{
        font-size: 1em!important;
    }
    .font-s {
        font-size: 1.4em!important;
    }
    #footer{    
        font-size: 24px;
    }
    .disclaimer{
        font-size: 1em;        
    }
    #footer li>h1>div:first-child{
        font-size: 24px!important;
    }

    #footer li:last-child{
        font-size: 20px!important;
    }
     #sidemenu #holder{
     max-height: 800px;      
   }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .content{
        font-size: 1.2em;
    }
    .font-s {
        font-size: 0.7em;
    }

    .disclaimer{
        font-size: 0.4em;        
    }

    #footer{
        font-size: 24px;
    }
    #footer li:last-child{
        font-size: 8px!important;
    }
}

.mainIcon{
    height: 80px;
}

button.back-btn:hover{
    color: #FFFFFF;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-l {
    margin-top: 30px;
}

.margin-top-xl {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-left {
    margin-left: 20px;
}

.margin-left-l {
    margin-left: 30px;
}

.margin-right {
    margin-right: 20px;
}

.bgap {
    padding-bottom: 20px;
}

.bgap-l {
    padding-bottom: 30px;
}

.bgap-xl {
    padding-bottom: 40px;
}

.leftingap, th.leftingap{
    padding-left: 20px; 
}

.rightingap{
    padding-right: 20px;    
}

.padding {
    padding: 20px;
}

.padding-l{
    padding: 30px;
}

#topNav{
    padding: 10px 20px 20px 20px;
    z-index: 1000;
}

.center {
    text-align: center;
}

.text-underline{
    text-decoration: underline;
}

.text-caps{
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-offwhite{
   color: #e1e1e1;  
}

.text-white, .text-white a{
    color: #FFFFFF;
}

.text-red{
    color: #BE1E2D;
}

.align-top {
    vertical-align: top;
}
.align-middle{
    vertical-align: middle;
}
.align-bottom{
    vertical-align: bottom;
}

#desktopLink{
    position: absolute;
    right: 20px;
    top: 40%;
    color: #333!important;
}

td > ul{
    margin-left:10px;
    margin-right:10px;    
}

.border, table.tb-border td{
    border: 1px solid #c1c1c1;
}

table.tb-border td{   
    padding-left: 15px;
    padding-right: 15px;  
 }

.border-top{  
    border-top: 1px solid #24A9E1;
}

.border-bottom{
    border-bottom: 1px solid #c1c1c1;
}

.bg-white{
    background: #FFFFFF;
}

.bg-pale {
    background: #E7E8EA;
}

.text-black {
    color: #333;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute.absolute-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.list-style-none.underline li + li {
    border-top: 1px solid #c1c1c1;
}

.list-style-none.underline li{
    padding-top: 1rem;    
}

/*  Font classes */
.font-l {
    font-size: 1.2em;
}

.font-xl {
    font-size: 1.4em;
}

.font-xxl {
    font-size: 1.6em;
}

.font-s {
    font-size: .7em;
}

.font-bold {
    font-weight: 700;
}

.font-2x{
    font-size: 2em;
}

.font-3x{
    font-size: 3em;
}

.divider{
    height: 1px;
    background-color: #0F4C9C;
    margin: 10px 0;
}
.divider.divider-thick{
    height: 2px;
    background-color: #0F4C9C;
    margin: 10px 0;
}
.underline{
    border-bottom: 1px solid #c1c1c1; 
    margin-bottom: 1rem;
}

/* Generic css */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    /*background: #F8F8F8;                */
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    /*background: #f5f5f5;*/
}

a.button:hover {
    text-decoration: none;
}
.content{
    margin-top: 220px;
}

.container {
    max-width: 1100px;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.nav-grid-icon .columns{
    border:1px solid #d1d1d1;
    margin-left: 0; 
}

ul.list-style-none.bgap-0 li{
    margin-bottom: 0;
}

/* Horizontal list*/
ul.list.list-horizontal > li{
    display: inline-block;
}

ul.list.list-horizontal > li >*{
    display: inline-block;
}


ul.list.list-horizontal.spacing-md > li + li{
    margin-left: 10px;
}

ul.list.list-horizontal.spacing-l > li + li{
    margin-left: 20px;
}

.bg-pale-light{
    background: #EDEDED;
}

.bg-black{
    background: #333;
}

.lh-1{
    line-height: 1;
}

 .nav-icon-link img{
        height: 70px;
    }
.ui-accordion .ui-accordion-header{
    font-size: 1.6em;
    border-bottom: 2px solid #c1c1c1;
}

.ui-accordion .ui-accordion-content p{
    font-size: 0.7em;    
}

.ui-widget, .raleway{
    font-family: 'Raleway', sans-serif;
}
    
img.caret-right{
    height: 30px;
    vertical-align: middle;    
}
.nav-grid-icon .columns:focus, .nav-grid-icon .columns:active{
    color: #BE1E2D;
    border-right-color: #BE1E2D;
    border-bottom-color: #BE1E2D;
    border-top-color: #BE1E2D;
    border-left-color: #BE1E2D;
}