.content, #tabs{
    font-size: 20px;
}

li a.selected, li a.selected:hover{
    pointer-events: none;
    color: #333!important;
    font-size: 0.8em;
}

 #footer{
        font-size: 24px;
    }
#footer li:last-child{
    font-size: 8px;
}