.currentBanner{
    background: url(../../images/UBI_Banners_personal_current_account.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;    
}

.currentBannerBank{
    background-image: url(../../images/UBI_Banners_personal_current_account.jpg); 
}

.regsavings{
    background-image: url(../../images/UBI_Banners_personal_savings.jpg);
}

.familySavings{
    background-image: url(../../images/UBI_family_savings.jpg);   
    height: 505px; 
}

.deposit{
    background-image: url(../../images/UBI_recurrent_deposit.jpg);
}

.salary{
    background-image: url(../../images/UBI_Salary_account.jpg);
}

.defence{
    background-image: url(../../images/UBI_USSA_Defence.jpg);    
}

.demat{
    background-image: url(../../images/UBI_Banners_personal_uniondemat.jpg);    
}

.mf{
    background-image: url(../../images/UBI_mutualfund.jpg);    
}

.mf-summary{
    background-image: url(../../images/UBI_MF_NewsLetter.jpg);
}

.life-insurance{
    background-image: url(../../images/UBI_Life_Insurance.jpg);    
}

.religare{
    background-image: url(../../images/UBI_ReligareInsurance.jpg);
    height: 380px;    
}

.mediclaim{
    background-image: url(../../images/UBI_MediClaim.jpg);    
}

.gold-coin{
    background-image: url(../../images/UBI_Gold_Coin.jpg);    
}

.content, #tabs{
    font-size: 20px;
}

.online-trading{
    background-image: url(../../images/UBI_online_trading.jpg);    
}

.info{
    background-image: url(../../images/UBIl_useful_info.jpg);
}

.pmsby{
    background-image: url(../../images/PMSBY.jpg);    
}

.ccard{
    background-image: url(../../images/UBI_credit_card.jpg);    
}

.usecure{
    background-image: url(../../images/UBI_usecure.jpg);    
}

.intl-dcard{
    background-image: url(../../images/UBI_InternationalDebitCards.jpg);    
}

.business-dcard{
    background-image: url(../../images/UBI_BusinessDebitCard.jpg);    
}

.giftcard{
    background-image: url(../../images/UBI_GiftCards.jpg);      
}

.payroll{
    background-image: url(../../images/UBI_PayrollCards.jpg);
}

.irctc{
    background-image: url(../../images/UBI_IRCTC_Prepaid.jpg);    
}

#footer{
    font-size: 12px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {     
    .font-s {
        font-size: 1.6em;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .font-s {
        font-size: 1em;
    }
}